
<h3>Contact me!</h3>

<input type='text' placeholder='your name'>
<input type='text' placeholder='your phone number'>
<input type='text' placeholder='your email'>
<input type='text' placeholder='your message'>

<button>Submit</button>
