<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinatra ERB</title>
    <link rel='stylesheet' href='/style/main.css'>
    <script src='/scripts/app.js'></script>
  </head>
  <body>

    <header>
      <h1>Sinatra ERB</h1>
      <em>Showing off ERB's awesomeness</em>
      <hr>
    </header>

    <%= yield %>

    <footer>
      <hr>
      &copy; 2015. Brought to you by Embedded Ruby (ERB)
    </footer>

  </body>
</html>
